
body {
	background: #FF6600; /* hexadecimal number */
	padding: 15px;
	font-size: 80px;
}

h4 {
	font-size: 30px;
}



a {
	color: #fff;
	text-decoration: none;
}

button {
	background-color: #3b3b3b;
	padding: 15px;
	font-size: 30px;
}

